.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.mywork-container img{
    box-sizing: border-box;
    transition: 0.5s;
    /* width: 100px; */
    cursor: pointer;
    
    border:2px solid white
}

.mywork-container img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.5s;
}
.mywork {
    position: relative; /* Ensure the arrows are positioned relative to this container */
    padding: 02px 20px; /* Adjust padding as necessary */
}

.arrows {
    position: absolute; /* Position absolutely within the about section */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}

/* Positioning the up arrow */
.up-arrow {
    top: 20px; /* 20px from the top */
    right: 20px; /* 20px from the right */
}

/* Positioning the down arrow */
.down-arrow {
    bottom: 20px; /* 20px from the bottom */
    left: 20px; /* 20px from the left */
}

/* Optional styling for hover effects */
.arrows:hover {
    color: #000000; /* Change color on hover */
}

.pr-img{
    width: 419px;
    height: 280px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    fill: none;
    box-sizing: border-box;
           
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    gap: 40px;
    /* transform: scale(1.10); */
    transition: 0.6s;
}
@media(max-width:850px){
    .mywork{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        /* display: flex;
        flex-wrap: wrap; */
        gap: 30px;
    }
    .pr-img{
        width: 200px;
        height: 100px;

    }
    .mywork-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}